<!DOCTYPE html>
<html ng-app="todoApp">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<main class="container">
    <div class="">
        <div class="row">
            <div class="col-xs-6 creator">

                <div style="background-color: white;">
                    <form ng-submit="">
                        <input  placeholder="Title" name="newNoteTitle" class="col-xs-10 title" type="text">
                        <input  placeholder="Take a note..." name="newNoteValue" class="col-xs-10" type="text">
                        <div class="actions col-xs-12 row">
                            <div class="col-xs-3">
                                <div class="color-selector">
                                    <img src="img/color-picker.png" class="img-responsive">
                                </div>
                            </div>
                            <button type="submit" class="btn-light">
                                Done
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div ng-controller="TodoListController as todoList" class="row">
            <div ng-repeat="todo in myData" class="col-xs-4 note-card" style="background-color: {{todo.color}}">
                <div class="col-xs-12 title">{{todo.title}}</div>
                <div class="col-xs-12 value">{{todo.value}}</div>
            </div>
        </div>
    </div>

        <!--<div ng-repeat="todo in todoList.todos">-->
            <!--&lt;!&ndash;<label>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="done-{{todo.done}}">{{todo.text}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->
        <!--</div>-->
        <!--<form ng-submit="todoList.addTodo()">-->
            <!--<input type="text" ng-model="todoList.todoText" size="30"-->
                   <!--placeholder="add new todo here">-->
            <!--<input class="btn-primary" type="submit" value="add">-->
        <!--</form>-->
        <!--<div>-->
            <!--<ul class="list">-->
                <!--<li ng-repeat="todo in myData" class="done-{{todo.done}} ">{{todo.title}}</li>-->
            <!--</ul>-->
        <!--</div>-->

    </div>
</main>
</body>
</html>